.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-primary);
  color: white;
  height: var(--header-height);
}
  
.App-logo {
  pointer-events: none;
  height: var(--header-height);
}

.App-title {
  flex: 1;
  text-align: left;
  margin-right: 20px;
  font-weight: bold;
  font-size: var(--font-size);
  text-decoration: none;
  color: white;
  white-space: nowrap; /* Do not wrap as the window shrinks */
}

.login-user {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  height: var(--header-height);
  font-weight: bold;
  font-size: var(--font-size);
  margin-left: 20px;
  white-space: nowrap; /* Do not wrap as the window shrinks */
}
.login-user:hover{
  cursor: pointer;
}
